.grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
    margin: 40px;
}
.grid-2 {
    display: grid;
    grid-template-columns: 70% 10fr;
}
.grid-item {
    grid-row: span 2;
}
.grid-item-2 {
    grid-row: span 2;
}
.cntre {
    text-align: center;
}
.imgcntre {
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right:auto;
}
.pro {
    font-size: larger;
}
.center {
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.p {
    margin-bottom: 1cm;
}
.p- {
    margin-top: 20px;
}
.h3 {
    font-size: larger;
}